.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.audio {
    display: block;
    width: 100%;
    height: 8px;
    transition: all 0.5s linear;
    overflow: hidden;
}

.audio:hover {
    height: 70px;
    transition: all 0.5s linear;
}

.row {
    background-color: #f6e8e8;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.slider-frame {
    height: 35vw !important;
    min-height: fit-content;
}

.mbplaylist{
    background-size: cover;
    filter: blur(30px);
    z-index: -1;
}

.am-search-cancel{
    color: white!important;
}

.am-tag-normal::before {
    border: none!important;
}

.homepage {
    background-size: cover;
    filter: brightness(0.5);
    position: relative;
}

.homepageText {
    position: absolute;
    top: 0;
}

.ant-drawer-body {
    padding: 0px!important;
}

.musicbg {
    filter: blur(30px);
    position: relative;
    background-position: center;
}

.ChatApp {
    background-color: whitesmoke!important;
    box-shadow: 5px 5px 5px #CECECE;
}
